html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
}

.container {
    max-width: 1750px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-right {
    padding-left: calc((100% - 1750px) / 2 + 15px);
    overflow-x: hidden;
}

@media (max-width: 1749px) {
    .container-right {
        padding-left: 15px;
        overflow-x: hidden;
    }
}

.none {
    display: none !important;
}

.hidden {
    visibility: hidden;
}

.no-scroll {
    overflow-y: hidden;
}