@media (max-width: 1000px){
    .header__title {
        font-size: 50px;
        margin-bottom: 28px;
    }

    .header__text {
        font-size: 24px;
        margin-bottom: 52px;
    }

    .nav__list {
        column-gap: 60px;
    }

    .slider {
        width: 1200px;
    }

    .slide {
        padding-left: 50px;
    }

    .slide__img {
        width: 336px;
        height: 396px;
    }

    .slide__title {
        bottom: 32px;
        font-size: 80px;
        background: linear-gradient(90deg, rgb(17, 68, 85) 50px, rgb(255, 255, 255) 50px);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .footer, .footer a {
        padding: 30px 0;
        font-size: 14px;
    }

    .footer__row {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 15px;
    }

    .footer__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}

@media (max-width: 640px) {
    .nav__logo {
        margin-left: 9px;
        max-width: 109px;
    }

    .nav__list {
        display: none;
    }

    .nav__btn {
        display: block;
    }

    .header__content {
        display: none;
    }

    .header__logo-mobile {
        display: block;
        max-width: 244px;
    }

    .header__content-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 27px;

        color: rgba(31, 31, 31, 0.7);
    }

    .header__text-mobile {
        max-width: 237px;
        text-align: center;  
    }

    .header__arrows {
        width: 19px;
        height: 16px;
        bottom: 32px;
    }

    .case-studies {
        padding: 80px 0;
    }
    
    .case-studies__title {
        margin-bottom: 7px;
    }

    .case-studies__text {
        margin-bottom: 31px;
    }

    .text {
        font-size: 16px;
    }

    .title {
        font-size: 32px;
    }

    .slider {
        width: 546px;
    }

    .slide {
        padding-left: 33px;
    }

    .slide__img {
        width: 224px;
        height: 264px;
    }

    .slide__title {
        bottom: 22px;
        font-size: 60px;
        background:
        linear-gradient(90deg, rgba(17,68,85,1) 33px, rgba(255,255,255,1) 33px);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .about {
        padding-top: 0;
        padding-bottom: 80px;
    }

    .about__title {
        margin-bottom: 7px;
    }
    .about__text {
        margin-bottom: 40px;
    }

    .video {
        overflow: hidden;
    }

    .video__btn {
        width: 48px;
        height: 48px;
    }

    .video__picture, .video__picture img {
            width: 100%;
    }

    .video__object {
        position: absolute;
        left: -50%;
        top: 0;
        width: 1130px;
        height: 635px;
        vertical-align: top;
    }



}